*{
  padding: 0;
  margin: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.red{
  overflow: hidden;
}
a{
  text-decoration: none;
  color: #333333;
}
button{
  border-radius: 8px;
  border: none;
  transition: .4s;
  &:hover{
    transform: scale(1.1);
  }
}
body{
  font-family: 'Open Sans', sans-serif;
}